<section class="projects-section animate-color">
  <div class="horizontal-container">
    <section
      class="panel section relative flex min-h-96 flex-row justify-between lg:min-h-min"
      data-color="dark"
    >
      <div class="flex max-w-lg flex-col items-center justify-center px-10">
        <h2>Projecto 1</h2>
        <p>
          This portfolio serves as a gateway into my world, where innovation
          meets dedication and where ideas are transformed into tangible
          results.
        </p>
      </div>
      <aside class="absolute -z-10 opacity-20 lg:relative lg:opacity-100">
        <img src="" alt="" />
      </aside>
    </section>
    <section class="panel section" data-color="dark">
      <div class="web-project-content">
        <h2>Projecto 1</h2>
        <p>
          This portfolio serves as a gateway into my world, where innovation
          meets dedication and where ideas are transformed into tangible
          results.
        </p>
      </div>
    </section>
    <section class="panel section" data-color="light">
      <div class="web-project-content">
        <h2>Projecto 1</h2>
        <p>
          This portfolio serves as a gateway into my world, where innovation
          meets dedication and where ideas are transformed into tangible
          results.
        </p>
      </div>
    </section>
  </div>
</section>
