---
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Work from "./work.astro";
import Contact from "../components/Contact.astro";
import "../../public/scss/general.scss";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Raúl García">
  <div id="text-mask-effect">
    <Header />
  </div>
  <Work />
  <About />
  <Contact />
  <Footer />
</Layout>
