---
import { getCollection } from "astro:content";

import "../../public/scss/general.scss";

import PortfolioPreview from "../components/PortfolioPreview.astro";

const projects = (await getCollection("work")).sort(
  (a: { data: { publishDate: Date } }, b: { data: { publishDate: Date } }) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<div id="work">
  {
    projects.map((project: any) => (
        <section
          class="w-full pb-28 xl:py-28 px-10 xl:px-20 relative flex min-h-96 md:min-h-screen xl:min-h-96 flex-col md:flex-row md:justify-between panel section project-container"
          data-color="dark"
        >
          <PortfolioPreview project={project} />
        </section>
    ))
  }
</div>
