---
interface Props {
  text?: string | undefined;
  email?: string | undefined;
  emailhref?: string | undefined;
}

const { text = "Send me a message at", email = "info@raulgarciadiaz.com" } =
  Astro.props;
---

<section
  class="mx-auto py-28 md:pb-0 xl:py-0 xl:min-h-screen flex justify-center items-center xl:max-w-6xl px-2 xl:pt-16 selection:bg-primary selection:text-secondary md:pt-20 xl:px-10"
>
  <div
    class="relative flex flex-col xl:h-[60vh] items-center justify-center md:h-[76vh]"
  >
    <p
      class="text-xl xl:text-3xl"
      data-aos="fade-down"
      data-aos-duration="1000"
    >
      {text}
    </p>
    <a
      class="text-2xl xl:text-8xl mt-2"
      id="contact-email"
      href={`mailto:${email}`}
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      {email}
    </a>
  </div>
</section>
