---

---

<footer class="flex justify-center items-center py-8" id="contact">
  <p class="socials">
    <a class="underline-effect" href="https://twitter.com/me"> Instagram,</a>
    <a class="underline-effect" href="https://github.com/me"> Twitter,</a>
    <a class="underline-effect" href="https://codepen.io/me"> LinkedIn, </a>
    <a class="underline-effect" href="https://codepen.io/me"> GitHub </a>
  </p>
</footer>
