---

---

<footer class="flex justify-center items-center py-8" id="contact">
  <p class="socials">
    <a
      class="underline-effect"
      href="https://www.instagram.com/rgarcia.codes/"
      target="_blank"
    >
      Instagram,</a
    >
    <a class="underline-effect" href="https://x.com/Kuranio_" target="_blank">
      X,</a
    >
    <a
      class="underline-effect"
      href="https://www.linkedin.com/in/ra%C3%BAl-garc%C3%ADa-d%C3%ADaz-9b6470209/"
      target="_blank"
    >
      LinkedIn,
    </a>
    <a
      class="underline-effect"
      href="https://github.com/Kuranio/"
      target="_blank"
    >
      GitHub
    </a>
  </p>
</footer>

<div class="custom-cursor"></div>
<div class="custom-cursor-follower">
  <span class="follower-text"></span>
</div>
