<!-- Salidas <h1>Hola Astro!</h1> -->
<section
  class="container-fluid wrap custom-overlay p-0 flex justify-center items-center text-center h-screen xl:block xl:text-start"
  id="custom-overlay"
  data-color="light"
>
  <div class="container-fluid animation-container">
    <div class="lg:flex lg:items-center lg:h-[80vh]">
      <div class="col-lg-12">
        <h1 class="name-title-overlayed">Creative Developer</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid animation-container overlay" id="circle-path">
    <div class="lg:flex lg:items-center lg:h-[80vh]">
      <div class="col-lg-12">
        <h1 class="name-title-nonoverlayed">Creative Developer</h1>
      </div>
    </div>
  </div>
</section>
